@media only screen and (min-width:0px) and (max-width:320px){
	body{
		font-size:10px;
	}
	.gallery ul li{
		width:100vw;
		height:100vw;
	}
}

@media only screen and (min-width:321px) and (max-width:768px){
	body{
		font-size:12px;
	}	
	.gallery ul li{
		width:50vw;
		height:50vw;
	}
}

@media only screen and (min-width:769px) and (max-width:1366px){
	
}

@media only screen and (min-width:1367px) and (max-width:1920px){
	
} /*covers all devices and their sizes*/

@media only screen and (min-width:1921px) and (max-width:9999px){
	
}