


h1{
  background-color: #E9EEEA;
  border-bottom: solid #958264;
  padding: 1em;
  float: center;
  color: #B85223;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  margin:0px;


}

html, body {
    margin: 0;
    padding: 0;
}

.order-form{
  margin-left:40px;
}

#main-title ins{
	color:#B85223;
	text-decoration:none;
}

nav a{
	color:white;
	padding:1.5em;
	background-color:none;
	text-decoration:none;

}

.nav-section li{
	display:inline-block;
}

#menu-items {
	display: block;
}

#menu-items .menu-item {
	margin-bottom: 50px;
}
#menu-items .price{
	float:right;
	width:14%;

}

#menu-items .qty{
	float:right;
	width:14%;
}

.heading li{
	display:inline-block;
	position:relative;
	left:70%;
	margin-right:6%;
	border-bottom:solid black;
	border-width:1px;
}

.nav-section{
	padding: .5em;
  	background-color: rgba(0,0,0,.4);
  	color: white;
}

.total-cost{
	display:inline-block;
	position:relative;
	left:80%;
}

.total-cost li{
	list-style-type:none;
}

.total-cost #total-cost{
	position:relative;
	left:10%;
}

.total-cost #subtotal{
	border-bottom:solid black;
	border-width:1px;
	margin-bottom:1em;
}


#checkout-button:hover {
  color: #020202;
  cursor: pointer;
}

#checkout-button{
  color: #ABABAB;
  border: 2px solid #B85223;
  background: #E8E8E8;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  outline: 0;
  -webkit-appearance: none;
  margin-left: 30%;
  margin-bottom: 6%;
  margin-right: 10em;
  position: relative;
  top: 50px;
  right: -28%;

}

#gallery ul{
  list-style-type: none;

}

#img1{
    background-image: url("../img/bacon-burger.jpg");

}

#img2{
  background-image: url("../img/cobbler.jpg");
}

#img3{
  background-image: url("../img/muffinwich.jpg");
}

#gallery ul{
  position: relative;
  left:-37px;
}

#gallery ul li{
    height:200px;
    width:200px;
    background-size:100%;
    display:inline-block;
    border-radius:5px;
}


footer{
  margin-top:100px;
}
